@import "../utils/variables";

.restaurant-page {
  position: relative;
  padding-bottom: 100px;
  background-color: $bgd-gray;
  .restaurant-title {
    position: absolute;
    top: -35px;

    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 30px 10px;
    border-radius: 35px 35px 0 0;
    h1 {
      @include typo-size($brand_font, map-get($font-sizes, title));
    }
    path.two-restaurant {
      fill: $bgd-gray;
      transform: translate(35px, 35px) scale(0.85);
    }
  }

  .order {
    background-color: $bgd-gray;
    height: 60px;
    position: relative;
    bottom: -60px;
    margin: 0 40%;
  }
}
