@import "../utils/variables";

.restaurant-page {
  position: absolute;
  padding-bottom: 320px;
  width: 100%;
  background-color: $bgd-gray;

  .restaurant-title {
    position: inherit;
    background-color: $bgd-gray;
    top: -30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 0 0 15px;
    border-radius: 35px 35px 0 0;
    h1 {
      @include typo-size($brand_font, map-get($font-sizes, title));
      padding-bottom: 10px;
    }
    path.two-restaurant {
      fill: $bgd-gray;
      transform: translate(35px, 35px) scale(0.85);
    }
  }

  .order {
    background-color: $bgd-gray;
    height: 60px;
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 750%);
  }
}
@media only screen and (min-width: $tablet-breakpoint) {
  body {
    background-color: $bgd-gray;
    .restaurant-page {
      padding: 0px;
      .dishes {
        display: flex;
        justify-content: space-around;
      }
      .order {
        transform: translate(50%, 500%);
      }
    }
  }
}
