@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox, autres Gecko */
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, autres WebKit */
}

/*media query mixins*/
.projet-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 599px) {
  .projet-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

header {
  padding: 20px;
  text-align: center;
  height: 90px;
}

header img {
  height: 50px;
}

.badge {
  position: absolute;
  -webkit-transform: translate(330px, -255px);
          transform: translate(330px, -255px);
  border-radius: 5px;
  width: 120px;
  height: 45px;
  background-color: #99e2d0;
  color: #278870;
  text-align: center;
  justify-items: center;
  font-weight: 500;
  padding-top: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.hearts_container {
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: translateX(-25px);
          transform: translateX(-25px);
}

.border-heart-box {
  width: 40px;
  height: 40px;
}

path.one {
  fill: gray;
}

path.two {
  fill: white;
  -webkit-transform: translate(35px, 35px) scale(0.85);
          transform: translate(35px, 35px) scale(0.85);
}

.gradient-heart-box {
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 40px;
  height: 40px;
}

path.three {
  fill: url(#MyGradient);
}

.hearts_container:hover > .gradient-heart-box {
  -webkit-animation: showUp 1s linear 0.2s 1 normal forwards;
          animation: showUp 1s linear 0.2s 1 normal forwards;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

@-webkit-keyframes showUp {
  0% {
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 0, 3;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes showUp {
  0% {
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 0, 3;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

/*Au survol, la couleur de fond des boutons principaux devra légèrement s’éclaircir. L’ombre portée devra également être plus visible.*/
/*media query mixins*/
.projet-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 599px) {
  .projet-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.btn {
  border-radius: 40px;
  border: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 70px;
  padding: 0 25px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  cursor: pointer;
  background: #9356dc;
  background: linear-gradient(354deg, #9356dc 15%, #ff79da 93%);
  -webkit-box-shadow: 0px 8px 6px #cdcdcd;
          box-shadow: 0px 8px 6px #cdcdcd;
}

.btn:hover {
  -webkit-box-shadow: 0px 8px 6px #b3b3b3;
          box-shadow: 0px 8px 6px #b3b3b3;
  background: linear-gradient(354deg, rgba(147, 86, 220, 0.8) 15%, rgba(255, 121, 218, 0.8) 93%);
}

.instructions__container__card {
  background-color: #f2f2f2;
  height: 110px;
  width: 90%;
  max-width: 600px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border-radius: 25px;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 500;
  -webkit-box-shadow: 2px 2px 12px #cdcdcd;
          box-shadow: 2px 2px 12px #cdcdcd;
}

.instructions__container__card__nb {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  display: inline-block;
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
  background-color: #9356dc;
}

.instructions__container__card__nb__content {
  color: #fff;
  -webkit-transform: translateX(-43px);
          transform: translateX(-43px);
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 400;
}

.instructions__container__card .icon_box {
  width: 40px;
  height: 40px;
  padding: 0 10px;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  color: #676767;
}

.instructions__container__card p {
  padding: 0 20px;
}

.instructions__container__card:hover {
  background-color: #f2eafb;
}

.instructions__container__card:hover > .icon_box {
  color: #9356dc;
}

/*media query mixins*/
.projet-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 599px) {
  .projet-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.restaurant_link {
  margin: 15px auto;
  width: 90%;
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 25px #cdcdcd;
          box-shadow: 0px 0px 25px #cdcdcd;
  text-decoration: none;
}

.restaurant_link img {
  width: 100%;
  height: 270px;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  position: relative;
}

.restaurant_link .card_content {
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 30px 5px;
  color: black;
}

.restaurant_link .card_content .restaurant {
  width: 70%;
  height: 110px;
  padding: 20px 15px;
}

.restaurant_link .card_content .restaurant_name {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 10px;
}

.restaurant_link .card_content .restaurant_location {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 300;
}

footer {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 30px 0 45px 35px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  height: 300px;
  background-color: #333333;
}

footer .logo svg {
  color: #fff;
  height: 27px;
  margin-left: -20px;
}

footer .icon_txt_gp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer_icon {
  width: 40px;
  height: auto;
}

footer p a {
  color: #fff;
  text-decoration: none;
}

/*scss rules for the headers of the menu pages*/
.restaurants {
  background-color: #f2f2f2;
  width: 100%;
  height: auto;
  padding: 70px 3%;
}

.restaurants h2 {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  padding-bottom: 40px;
}

.restaurants .restaurants_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*media query mixins*/
.projet-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 599px) {
  .projet-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.location {
  background-color: #e6e6e6;
  -webkit-box-shadow: inset 0px 5px 4px silver;
          box-shadow: inset 0px 5px 4px silver;
}

.location__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 500;
}

.location__container__element {
  padding-left: 30px;
}

.explore {
  background-color: #f2f2f2;
  height: 430px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.explore__header {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  width: 70%;
  text-align: center;
}

.explore p {
  width: 85%;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 300;
}

.instructions {
  padding: 70px 5%;
}

.instructions h2 {
  padding-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 35px;
}

.instructions__container {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 450px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/*media query mixins*/
.projet-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 599px) {
  .projet-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=main.css.map */