@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox, autres Gecko */
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, autres WebKit */
}

body {
  width: 100%;
}

/*media query mixins*/
.projet-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 599px) {
  .projet-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

header {
  padding: 30px;
  text-align: center;
  height: 80px;
}

header img {
  height: 35px;
}

.badge {
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 5px;
  width: 120px;
  height: 45px;
  background-color: #99e2d0;
  color: #278870;
  text-align: center;
  justify-items: center;
  font-weight: 500;
  padding-top: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.hearts_container {
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: translateX(-25px);
          transform: translateX(-25px);
}

.border-heart-box {
  width: 40px;
  height: 40px;
}

path.one {
  fill: gray;
}

path.two {
  fill: white;
  -webkit-transform: translate(35px, 35px) scale(0.85);
          transform: translate(35px, 35px) scale(0.85);
}

.gradient-heart-box {
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 40px;
  height: 40px;
}

path.three {
  fill: url(#MyGradient);
}

.hearts_container:hover > .gradient-heart-box {
  -webkit-animation: showUp 1s linear 0.2s 1 normal forwards;
          animation: showUp 1s linear 0.2s 1 normal forwards;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

@-webkit-keyframes showUp {
  0% {
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 0, 3;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes showUp {
  0% {
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 0, 3;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

/*Au survol, la couleur de fond des boutons principaux devra légèrement s’éclaircir. L’ombre portée devra également être plus visible.*/
/*media query mixins*/
.projet-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 599px) {
  .projet-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.btn {
  border-radius: 40px;
  border: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 20px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  cursor: pointer;
  background: #9356dc;
  background: linear-gradient(354deg, #9356dc 15%, #ff79da 93%);
  -webkit-box-shadow: 0px 8px 6px #d9d9d9;
          box-shadow: 0px 8px 6px #d9d9d9;
}

.btn:hover {
  -webkit-box-shadow: 0px 8px 6px #bfbfbf;
          box-shadow: 0px 8px 6px #bfbfbf;
  background: linear-gradient(354deg, rgba(147, 86, 220, 0.8) 15%, rgba(255, 121, 218, 0.8) 93%);
}

.dish {
  margin: 10px;
  padding: 10px;
  width: 100%;
  background-color: #fff;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 0px 10px #d9d9d9;
          box-shadow: 0px 0px 10px #d9d9d9;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.dish-name {
  padding-bottom: 5px;
}

.dish-details {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
}

.dish .price {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  padding: 25px 10px 0 0;
}

.instructions__container__card {
  background-color: #f2f2f2;
  height: 85px;
  width: 100%;
  max-width: 600px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border-radius: 25px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  -webkit-box-shadow: 2px 2px 12px #d9d9d9;
          box-shadow: 2px 2px 12px #d9d9d9;
}

.instructions__container__card__nb {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  -webkit-transform: translateX(-16px);
          transform: translateX(-16px);
  background-color: #9356dc;
}

.instructions__container__card__nb__content {
  color: #fff;
  -webkit-transform: translateX(-43px);
          transform: translateX(-43px);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.instructions__container__card .icon_box {
  width: 40px;
  height: 40px;
  padding: 10px 0px;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  color: #737373;
}

.instructions__container__card p {
  font-weight: 300;
}

.instructions__container__card:hover {
  background-color: #f2eafb;
}

.instructions__container__card:hover > .icon_box {
  color: #9356dc;
}

@media only screen and (min-width: 990px) {
  .instructions__container__card {
    width: 30%;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 300;
  }
  .instructions__container__card .icon_box {
    margin: 10px 0px 0px -12px;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
  }
  .instructions__container__card p {
    padding: 0px;
  }
}

/*media query mixins*/
.projet-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 599px) {
  .projet-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.restaurant_link {
  margin: 15px auto;
  width: 90%;
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  border-radius: 20px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 10px #d9d9d9;
          box-shadow: 0px 0px 10px #d9d9d9;
  text-decoration: none;
}

.restaurant_link .img-box {
  position: relative;
}

.restaurant_link .img-box img {
  width: 100%;
  height: 270px;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

.restaurant_link .card_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 10px 5px;
  color: black;
}

.restaurant_link .card_content .restaurant {
  width: 70%;
  padding: 15px;
}

.restaurant_link .card_content .restaurant_name {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 10px;
}

.restaurant_link .card_content .restaurant_location {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
}

@media only screen and (min-width: 990px) {
  .restaurant_link {
    margin: 15px;
    width: 45%;
  }
}

.dish-area {
  background-color: #f2f2f2;
  position: relative;
  top: 60px;
  padding: 0 15px;
}

.dish-area h3 {
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #404040;
  padding-bottom: 2px;
}

.dish-area .border {
  width: 50px;
  height: 3px;
  background-color: #99e2d0;
}

.dish-area .dish-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0 25px 0;
}

footer {
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 30px 0 45px 35px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  background-color: #333333;
}

footer .logo svg {
  color: #fff;
  height: 20px;
  margin-left: -45px;
}

footer .icon_txt_gp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer_icon {
  width: 40px;
  height: auto;
}

footer p a {
  color: #fff;
  text-decoration: none;
}

.img-header {
  width: 100%;
}

.img-header img {
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 220px;
}

/*scss rules for the headers of the menu pages*/
.restaurant-page {
  position: relative;
  padding-bottom: 100px;
  background-color: #f2f2f2;
}

.restaurant-page .restaurant-title {
  position: absolute;
  top: -35px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 30px 30px 10px;
  border-radius: 35px 35px 0 0;
}

.restaurant-page .restaurant-title h1 {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
}

.restaurant-page .restaurant-title path.two-restaurant {
  fill: #f2f2f2;
  -webkit-transform: translate(35px, 35px) scale(0.85);
          transform: translate(35px, 35px) scale(0.85);
}

.restaurant-page .order {
  background-color: #f2f2f2;
  height: 60px;
  position: relative;
  bottom: -60px;
  margin: 0 40%;
}

.restaurants {
  background-color: #f2f2f2;
  width: 100%;
  height: auto;
  padding: 70px 3%;
}

.restaurants h2 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  padding-bottom: 40px;
}

.restaurants .restaurants_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 990px) {
  .restaurants {
    padding: 20px;
  }
  .restaurants h2 {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
  }
  .restaurants .restaurants_section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

/*media query mixins*/
.projet-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 599px) {
  .projet-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.location {
  background-color: #ededed;
  -webkit-box-shadow: inset 0px 5px 4px #d9d9d9;
          box-shadow: inset 0px 5px 4px #d9d9d9;
}

.location__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.location__container__element {
  padding-left: 30px;
}

.explore {
  background-color: #f2f2f2;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.explore__header {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  margin-bottom: 10px;
  width: 70%;
  text-align: center;
}

.explore p {
  width: 85%;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 10px;
}

.instructions {
  padding: 40px 5%;
}

.instructions h2 {
  padding-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
}

.instructions__container {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 990px) {
  .instructions {
    padding: 20px;
  }
  .instructions h2 {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
  }
  .instructions__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

/*media query mixins*/
.projet-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 599px) {
  .projet-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=main.css.map */