.badge {
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 5px;
  width: 120px;
  height: 45px;
  background-color: $tertiary-color;
  color: darken($color: $tertiary-color, $amount: 40);
  text-align: center;
  justify-items: center;
  font-weight: 500;
  padding-top: 10px;
  @include typo-size($text_font, map-get($font-sizes, lg));
}
