.hearts_container {
  width: 40px;
  height: 40px;
  position: relative;
  transform: translateX(-25px);
}

.border-heart-box {
  width: 40px;
  height: 40px;
}

path.one {
  fill: gray;
}
path.two {
  fill: white;
  transform: translate(35px, 35px) scale(0.85);
}

.gradient-heart-box {
  transform: scale(0);
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 40px;
  height: 40px;
}

path.three {
  fill: url(#MyGradient);
}

.hearts_container:hover > .gradient-heart-box {
  animation: showUp 1s linear 0.2s 1 normal forwards;
  animation-play-state: running;
}

@keyframes showUp {
  0% {
    transform-origin: 50% 100%;
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 0, 3;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
