.instructions__container__card {
  background-color: $bgd-gray;
  height: 110px;
  width: 90%;
  max-width: 600px;
  margin: auto;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 25px;
  @include typo-size($text_font, map-get($font-sizes, xlg));
  font-weight: 500;
  @include box-shadow(2px, 2px, 12px);
  &__nb {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    display: inline-block;
    transform: translateX(-15px);
    background-color: $primary-color;
  }
  &__nb__content {
    color: #fff;
    transform: translateX(-43px);
    @include typo-size($text_font, map-get($font-sizes, xlg));
    font-weight: 400;
  }
  .icon_box {
    width: 40px;
    height: 40px;
    padding: 0 10px;
    @include typo-size($text_font, map-get($font-sizes, xxlg));
    color: darken($color: $bgd-location-gray, $amount: 50%);
  }
  p {
    padding: 0 20px;
  }
  &:hover {
    background-color: lighten($primary-color, 35%);
  }
  &:hover > .icon_box {
    color: $primary-color;
  }
}
