@import "../utils/mixins";
@import "../utils/variables";

.restaurant_link {
  margin: 15px auto;
  width: 90%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  @include box-shadow(0px, 0px, 25px);
  text-decoration: none;

  img {
    width: 100%;
    height: 270px;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    position: relative;
  }
  .card_content {
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 30px 5px;
    color: black;
    .restaurant {
      width: 70%;
      height: 110px;
      padding: 20px 15px;

      &_name {
        @include typo-size($text_font, map-get($font-sizes, xlg));
        font-weight: 600;
        padding-bottom: 10px;
      }

      &_location {
        @include typo-size($text_font, map-get($font-sizes, xlg));
        font-weight: 300;
      }
    }
  }
}
