@import "../utils/variables";
.instructions {
  padding: 40px 5%;
  h2 {
    padding-bottom: 20px;
    @include typo-size($text_font, map-get($font-sizes, title));
  }

  &__container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}

@media only screen and (min-width: $tablet-breakpoint) {
.instructions {
  padding: 20px;
  h2 {
    @include typo-size($text_font, map-get($font-sizes, title));
  }

  &__container {
    display: flex;
    flex-direction: row;
  }
}
}
