@import "../utils/variables";
.instructions {

  padding: 60px 0 60px 3%;
  width: 95%;
  h2 {
    margin: 15px auto;
    width: 90%;
    max-width: 600px;
    @include typo-size($text_font, map-get($font-sizes, title));
  }

  &__container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-left: 2%;
  }
}

@media only screen and (min-width: $tablet-breakpoint) {
  .instructions {
    padding: 20px;
    h2 {
      margin: 15px;
      width: 45%;
      max-width: 750px;
    }

    &__container {
      display: flex;
      flex-direction: row;
      background-color: $bgd-gray;
    }
  }
}
