@import "../utils/variables";
@import "../utils/mixins";

.location {
  background-color: $bgd-location-gray;
  box-shadow: inset 0px 5px 4px darken($bgd-location-gray, 15%);

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    @include typo-size($text_font, map-get($font-sizes, xlg));
    font-weight: 500;
    &__element {
      padding-left: 30px;
    }
  }
}

.explore {
  background-color: $bgd-gray;
  height: 430px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  &__header {
    @include typo-size($text_font, map-get($font-sizes, title));
    width: 70%;
    text-align: center;
  }

  p {
    width: 85%;
    text-align: center;
    @include typo-size($text_font, map-get($font-sizes, xlg));
    font-weight: 300;
  }
}
