@import "../utils/variables";
@import "../utils/mixins";

.location {
  background-color: darken($bgd-gray, 2%);
  box-shadow: inset 0px 5px 4px darken($bgd-gray, 10%);

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    @include typo-size($text_font, map-get($font-sizes, lg));
    font-weight: 500;
    &__element {
      padding-left: 30px;
    }
  }
}

.explore {
  background-color: $bgd-gray;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  &__header {
    @include typo-size($text_font, map-get($font-sizes, sm-title));
    margin-bottom: 10px;
    width: 70%;
    text-align: center;
  }

  p {
    width: 85%;
    text-align: center;
    @include typo-size($text_font, map-get($font-sizes, lg));
    font-weight: 200;
        margin-bottom: 10px;
  }
}
