.restaurants {
  background-color: $bgd-gray;
  width: 100%;
  height: auto;
  padding: 70px 3%;

  h2 {
    @include typo-size($text_font, map-get($font-sizes, title));
    margin: 15px auto;
    width: 90%;
    max-width: 600px;
  }

  .restaurants_section {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-width: $tablet-breakpoint) {
  .restaurants {
    padding: 20px;
    h2 {
  margin: 15px;
  width: 45%;
    max-width: 750px;
  }
    .restaurants_section {
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }
}
