@mixin gradient-btn {
  border-radius: 40px;
  border: none;
  width: fit-content;
  padding: 15px 20px;
  color: #fff;
  @include typo-size($text_font, map-get($font-sizes, sm));
  cursor: pointer;
  background: rgb(147, 86, 220);
  background: linear-gradient(
    354deg,
    rgba(147, 86, 220, 1) 15%,
    rgba(255, 121, 218, 1) 93%
  );
  @include box-shadow(0px, 8px, 6px);
}

@mixin box-shadow($x, $y, $blurr) {
  box-shadow: $x $y $blurr darken($bgd-gray, 20%);
}

@mixin typo-size($typo, $size) {
  font-family: $typo;
  font-size: $size;
}

@mixin icon-gradient {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
