$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$bgd-gray: #f2f2f2;


$font-sizes: (
  //ohmyfood
  header: 50px,
  sm-header: 45px,
  //Reservez, fonctionnement, Restaurants
  bg-title: 37px,
  title: 30px,
  sm-title: 28px,
  //icons
  xxlg: 25px,
  //location txt, instruction txt
  xlg: 22px,
  lg: 20px,
  sm: 18px,
  xsm: 15px
);

$tablet-breakpoint: 990px;
@media only screen and (min-width: $tablet-breakpoint) {
  $font-sizes: (
  //ohmyfood
  header: 52px,
  sm-header: 47px,
  //Reservez, fonctionnement, Restaurants
  bg-title: 39px,
  title: 32px,
  sm-title: 30px,
  //icons
  xxlg: 27px,
  //location txt, instruction txt
  xlg: 25px,
  lg: 22px,
  sm: 20px,
  xsm: 17px
);
}
