$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$bgd-location-gray:#e6e6e6;
$bgd-gray: #f2f2f2;

$header_size: 45px;
$title_size: 30px;
$location_size: 23px;
$food_category_size: 20px;
$dish_size: 15px;
$price_size: 14px;
$detail_size: 12px;

